Use the following dataset - https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

In [3]:
import numpy as np
import pandas as pd

In [4]:
movies = pd.read_csv('/content/IMDB Dataset.csv', engine='python',error_bad_lines=False)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
movies.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
movies['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

# Problem 1

# Apply all the preprocessing techniques that you think are necessary

In [7]:
# Lowercasing
movies['review'] = movies['review'].str.lower()

In [8]:
# Remove HTML Tags
import re
def remove_tags(text):
  pattern = re.compile('<.*?>')
  return pattern.sub(r'',text)

movies['review'] = movies['review'].apply(remove_tags)

In [9]:
movies['review'][1]

'a wonderful little production. the filming technique is very unassuming- very old-time-bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. the actors are extremely well chosen- michael sheen not only "has got all the polari" but he has all the voices down pat too! you can truly see the seamless editing guided by the references to williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. a masterful production about one of the great master\'s of comedy and his life. the realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets (particularly of their flat with halliwell\'s murals decorating every surface) are terribly well done.'

In [10]:
#Remove Punctuations
import string

def remove_punctuation(text):
  for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
  return text
  
movies['review'] = movies['review'].apply(remove_punctuation)

In [11]:
movies['review'][1]

'a wonderful little production the filming technique is very unassuming very oldtimebbc fashion and gives a comforting and sometimes discomforting sense of realism to the entire piece the actors are extremely well chosen michael sheen not only has got all the polari but he has all the voices down pat too you can truly see the seamless editing guided by the references to williams diary entries not only is it well worth the watching but it is a terrificly written and performed piece a masterful production about one of the great masters of comedy and his life the realism really comes home with the little things the fantasy of the guard which rather than use the traditional dream techniques remains solid then disappears it plays on our knowledge and our senses particularly with the scenes concerning orton and halliwell and the sets particularly of their flat with halliwells murals decorating every surface are terribly well done'

In [12]:
# Sentence Tokenize and Removing stop words
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize
import nltk
nltk.download('stopwords')
nltk.download('punkt')
stop_words = stopwords.words('english')

def remove_stopwords(text):
  sentence = word_tokenize(text)
  new_text = []
  for word in sentence:
    if word not in stop_words:
      new_text.append(word)
  return new_text

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
remove_stopwords('Hello my name is jon snow and I am the king of north'.lower())

['hello', 'name', 'jon', 'snow', 'king', 'north']

In [14]:
# movies['review'] = movies['review'].apply(remove_stopwords)

In [15]:
movies['review'] = movies['review'].apply(lambda x:[item for item in x.split() if item not in stop_words]).apply(lambda x:" ".join(x))

In [16]:
movies['review'][1]

'wonderful little production filming technique unassuming oldtimebbc fashion gives comforting sometimes discomforting sense realism entire piece actors extremely well chosen michael sheen got polari voices pat truly see seamless editing guided references williams diary entries well worth watching terrificly written performed piece masterful production one great masters comedy life realism really comes home little things fantasy guard rather use traditional dream techniques remains solid disappears plays knowledge senses particularly scenes concerning orton halliwell sets particularly flat halliwells murals decorating every surface terribly well done'

In [17]:
movies

                                                  review sentiment
0      one reviewers mentioned watching 1 oz episode ...  positive
1      wonderful little production filming technique ...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically theres family little boy jake thinks...  negative
4      petter matteis love time money visually stunni...  positive
...                                                  ...       ...
49995  thought movie right good job wasnt creative or...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  im going disagree previous comment side maltin...  negative
49999  one expects star trek movies high art fans exp...  negative

[50000 rows x 2 columns]

In [19]:
movies.isnull().sum()

review       0
sentiment    0
dtype: int64

In [20]:
X = movies.iloc[:,0:1]
y = movies['sentiment']

In [21]:
X

                                                  review
0      one reviewers mentioned watching 1 oz episode ...
1      wonderful little production filming technique ...
2      thought wonderful way spend time hot summer we...
3      basically theres family little boy jake thinks...
4      petter matteis love time money visually stunni...
...                                                  ...
49995  thought movie right good job wasnt creative or...
49996  bad plot bad dialogue bad acting idiotic direc...
49997  catholic taught parochial elementary schools n...
49998  im going disagree previous comment side maltin...
49999  one expects star trek movies high art fans exp...

[50000 rows x 1 columns]

In [22]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [23]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state =48)

In [25]:
X_train

                                                  review
21559  less zero could 80s movie reveals teenage apat...
44028  dreyfuss plays mob boss lost mind hes fixed la...
8811   nathan detroit runs illegal craps games high r...
37811  sitcom league gentlemen follows lives several ...
27620  hello alanrickmaniac im still crazyholic anoth...
...                                                  ...
43355  normally dont like chuck norris films apprecia...
30148  mild spoilersthis movie filthy stupid could do...
9553   2 home entertainment stores ive seen lot bad m...
2611   need run need every episode since lonely winne...
15872  last film provided vivid disturbing look insan...

[40000 rows x 1 columns]

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=4000)

In [33]:
X_train_bow = cv.fit_transform(X_train['review']).toarray()
X_test_bow = cv.fit_transform(X_test['review']).toarray()

In [34]:
X_train_bow.shape

(40000, 4000)

In [35]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train_bow, y_train)
y_pred = rf.predict(X_test_bow)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.564

In [37]:
from sklearn.naive_bayes import GaussianNB
gb = GaussianNB()
gb.fit(X_train_bow, y_train)
y_pred = gb.predict(X_test_bow)
accuracy_score(y_test, y_pred)

0.4887

In [ ]:
# Problem 2

# Find out the number of words in the entire corpus and also the total number of unique words(vocabulary) using just python

In [ ]:
# Problem 3

# Apply One Hot Encoding

In [ ]:
# Problem 4

# Apply bag words and find the vocabulary also find the times each word has occured

In [ ]:
# Problem 5

# Apply bag of bi-gram and bag of tri-gram and write down your observation about the dimensionality of the vocabulary

In [ ]:
# Problem 6

# Apply tf-idf and find out the idf scores of words, also find out the vocabulary.